.navdrawer-container,
.app-bar {
  position: absolute;
}
main {
  padding-top: 82px;
}
.app-bar {
  position: relative;
  height: 82px;
}
.app-bar .navbar-brand {
  margin: 0;
  padding: 0;
  height: 82px;
  line-height: 82px;
  font-size: 46px;
  width: 177px;
  position: static;
  top: auto;
  left: auto;
}
.app-bar .actionbs {
  float: right;
}
.app-bar:after {
  content: ' ';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.app-bar button.navbar-toggle {
  display: none;
}
.navdrawer-container {
  width: 100%;
  height: auto;
  margin-top: 130px;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  transition: none;
  overflow-y: auto;
  margin-top: 0;
  background: transparent;
  height: 1px;
  z-index: 1000;
  overflow: visible;
}
.navdrawer-container .navbar-nav {
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 239px;
}
.navdrawer-container .navbar-nav li {
  border: none;
}
.navdrawer-container .navbar-nav > li {
  border-bottom-width: 0;
  border-top-width: 0 !important;
  width: auto;
  height: 82px;
  /* nav dropdown */
}
.navdrawer-container .navbar-nav > li:hover,
.navdrawer-container .navbar-nav > li.active {
  background-color: #f0f0f0;
}
.navdrawer-container .navbar-nav > li:hover > a,
.navdrawer-container .navbar-nav > li.active > a {
  border-top-color: #0064d2;
}
.navdrawer-container .navbar-nav > li > a {
  border-top-width: 0px;
  text-align: center;
  line-height: 82px;
  height: 82px;
  padding-top: 0;
  padding-bottom: 0;
}
.navdrawer-container .navbar-nav > li.dropdown a {
  background: transparent;
  color: #7e7e7e;
  border-bottom-width: 0;
}
.navdrawer-container .navbar-nav > li.dropdown a:after {
  content: none;
}
.navdrawer-container .nav > li.dropdown ul {
  position: absolute;
  top: 82px;
  left: 0;
  right: 0;
  width: 100%;
}
.navdrawer-container .nav > li.dropdown ul li > a,
.navdrawer-container .nav > li.dropdown ul li > a:link,
.navdrawer-container .nav > li.dropdown ul li > a:visited {
  height: auto;
  line-height: 1;
  font-size: 14px;
  padding: 9px 14px 8px;
}
.navdrawer-container .nav > li.dropdown ul li > a:hover,
.navdrawer-container .nav > li.dropdown ul li > a:link:hover,
.navdrawer-container .nav > li.dropdown ul li > a:visited:hover {
  color: white;
}
